@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  transition: .3s;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

@font-face {
  font-family: Stanley;
  src: url(./Fonts/Stanley.otf) format('opentype');
}

body {
  width: 100%;
  height: 100vh;
  /* background: #fff; */
  background: url(./images/dotted-grid.png);
  background-size: cover;
}


